extends layout

block content
  h1.page-title= title
    span.glyphicon.glyphicon-screenshot
  
  h3.prompt Prompt

  #container.row.board
      table.table.table-bordered(border="1")
        tbody
          tr
            td#0.unmarked-space= "_"
            td#1.unmarked-space= "_"
            td#2.unmarked-space= "_"
          tr
            td#3.unmarked-space= "_"
            td#4.unmarked-space= "_"
            td#5.unmarked-space= "_"
          tr
            td#6.unmarked-space= "_"
            td#7.unmarked-space= "_"
            td#8.unmarked-space= "_"

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="javascripts/game.js")
  script(src="javascripts/game_prompt.js")
  script(src="javascripts/tic_tac_toe_api.js")
  script(src="javascripts/game_view.js")
  script(src="javascripts/main.js")
