extends layout

block content
  h1.page-title= title
    span.glyphicon.glyphicon-screenshot
  
  h3.prompt Prompt

  #container.row.board
      table.table.table-bordered(border="1")
        tbody
          tr
            td#0.board-space= "_"
            td#1.board-space= "_"
            td#2.board-space= "_"
          tr
            td#3.board-space= "_"
            td#4.board-space= "_"
            td#5.board-space= "_"
          tr
            td#6.board-space= "_"
            td#7.board-space= "_"
            td#8.board-space= "_"

  button.reset-button.btn-danger.btn-lg Reset 
    span.glyphicon.glyphicon-refresh

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
